.navbar {
    display: block;
    border: none;
    background: $brand-primary;
    margin: 0;

    // Navigation
    .nav {
        display: block;

        li {
            display: inline-block;
            float: left;

            a {
                padding: 25px;
                margin: 0;
                font-size: 1em;
                color: lighten(#bee2fb, 5%);
                font-weight: 600;

                span {
                    margin-right: 10px;
                }

                &:hover {
                    color: #fff;
                    background: none;
                }
            }

            &.active {
                a {
                    // border-bottom: 2px solid $brand-primary;
                    color: #fff;
                    background: darken($brand-primary, 5%);
                }
            }
        }
    }
}
