.login-box {
    display: block;
    // padding: 20px;
    // background: #fff;
    // box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    margin-top: 30px;

    .logo {
        text-align: center;

        img {
            margin: 0 auto;
        }
    }

    .btn-facebook {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 15px 0 0 0;
        background: #3E5C9A;
        color: #fff;
        font-weight: 600;
        font-size: 1.1em;
        font-shadow: 0 1px 1px rgba(0, 0, 0, .3);

        &:hover {
            background: darken(#3E5C9A, 10%);
        }

        span {
            margin-right: 10px;
        }
    }

    hr {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    p {
        display: block;
        margin: 0;
        padding: 0;
        color: #aaa;
        font-size: 1em;
    }

    form {
        margin: 20px 0 0 0;

        .btn {
            display: block;
            width: 100%;
            padding: 10px;
        }

        p {
            display: block;
            margin: 0;
            height: 44px;
            line-height: 44px;
        }
    }
}
