.modal {
    font-size: 10px;

    .modal-dialog, .modal-content {
        border-radius: 0;
        box-shadow: none;

        .modal-header {
            font-size: 1.4em;
            box-shadow: none;
            text-align: center;
            border-color: #e9ebec;

            .icon {
                font-size: 5em;
                color: #c9cfd5;
            }

            h4 {
                font-size: 1.5em;
                color: #474b4e;
                margin: 0 0 10px 0;
                margin: 0;
            }

            p {
                margin: 0;
                padding: 0;
                display: block;
                color: #aaa;
                max-width: 80%;
                margin: 0 auto;
                line-height: 2em;
            }

            button {
                color: #aaa;
                opacity: 1;
                font-size: 3em;
                position: absolute;
                top: 5px;
                right: 20px;

                &:hover {
                    color: #333;
                }
            }
        }

        .modal-body {
            padding: 25px;
            // background: #f8fafb;
            background: #f9f9f9;

            p {
                padding: 0;
                margin: 0;
                display: block;
                font-size: 1.2em;
                line-height: 2em;
                color: #aaa;
            }

            form {
                padding: 0;
                margin: 0;
                display: block;

                .form-control {
                    border-radius: 0;
                    padding: 10px;
                    height: auto;
                    border-color: #d9dde1;
                }

                .btn {
                    display: block;
                    margin: 0;
                    width: 100%;
                    padding: 15px;
                    font-weight: bold;
                    font-size: 1.5em;
                }

                &#register-form,
                &#login-form {
                    .btn {
                        width: 100%;
                        padding: 15px;
                        margin: 20px 0 0 0;
                        background: #45a7b9;
                        color: #fff;
                        font-size: 1.6em;
                        font-weight: bold;

                        &:hover {
                            background: darken(#45a7b9, 10%);
                        }
                    }

                    .form-control.error {
                        display: block;
                        border-color: #e7684e;
                    }
                }
            }

            .nav-tabs {
                margin: 0;
                font-size: 1.3em;

                li {
                    a {
                        color: #aaa;
                    }

                    &.active {
                        a {
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}

.modal-backdrop.in {
    opacity: 0.85;
}
