.content {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: $sidebar-width;
    z-index: 1;

    .heading {
        background: #fff;
    }
}
