.subscription-required {
    display: block;
    text-align: center;

    &.push-top {
        padding-top: 15px;
    }

    &.push-top-double {
        padding-top: 30px;
    }

    .icon {
        font-size: 5em;
        color: #aaa;
    }

    h3, p {
        display: block;
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 1.2em;
        font-weight: 600;
    }

    p {
        margin: 5px 0 0 0;
        font-size: 1em;
        color: #aaa;
        font-weight: 500;
    }

    .btn {
        margin: 15px 0 0 0;
        padding: 10px 25px;

        span {
            margin-right: 5px;
        }
    }
}
