$slider-height: 400px;

.slider {
    display: block;
    min-height: $slider-height;
    margin: 20px 0 0 0;
    // background: #eee;

    .slide {
        border-radius: 5px;
        overflow: hidden !important;

        .caption {
            display: none;
            margin: 30px 0;

            > span {
                display: block;
                font-style: italic;
                color: #aaa;
                font-size: 1em;
            }

            h2 {
                display: block;
                margin: 10px 0;
                padding: 0;
                font-size: 1.6em;
                color: #464646;
                font-weight: bold;
            }

            p {
                display: block;
                padding: 0;
                margin: 0;
                color: #aaa;
                font-size: 1.2em;
                line-height: 2em;
            }
        }
    }

    .owl-item {
        opacity: 0.5;

        &.active {
            opacity: 1;

            .caption {
                display: block;
            }
        }
    }
}
