.post-navbar {
    display: block;
    background: #212a31;

    // Current user.
    .current-user {
        border-right: 1px solid #38444f;
        padding-top: 15px;
        padding-bottom: 15px;

        img {
            border-radius: 100%;
        }

        h2, p {
            display: block;
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 1.2em;
            margin-top: 12px;
            color: #fff;
            font-weight: 600;
        }

        p {
            font-size: 1em;
            margin-top: 5px;

            a {
                color: #798f9e;
            }
        }
    }

    // Stats.
    .stats {
        ul {
            display: block;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                float: left;
                padding: 0 25px;
                text-align: center;

                h3, p {
                    display: block;
                    margin: 0;
                    padding: 0;
                    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
                }

                h3 {
                    color: #fff;
                    margin-top: 30px;
                    font-size: 1.2em;
                    font-weight: 600;
                }
            }
        }
    }

    // Subscribe.
    .subscribe {
        .btn {
            display: block;
            margin: 20px 0 0 0;
            padding: 10px 20px;
            font-weight: 600;
            background: #93c741;
            border-color: darken(#93c741, 5%);

            &:hover {
                background: darken(#93c741, 5%);
                border-color: darken(#93c741, 10%);
            }
        }
    }
}
