.dropzone-container {
    &.dz-clickable {
        padding: 20px;
        background: #f4f5f5;
        border-top: 1px solid #ddd;
    }

    .dz-preview {
        display: inline-block;
        float: left;
        width: 50%;

        .dz-image {
            display: block;
            width: 100%;

            img {
                display: block;
                max-width: 100%;
            }
        }

        .dz-details {
            margin-top: 10px;
        }

        .dz-progress {
            display: none;
            width: 100%;
            height: 50px;
            background: #eee;

            .dz-upload {
                height: 50px;
                background: lightblue;
            }
        }

        .dz-error-message, .dz-success-mark, .dz-error-mark {
            display: none;
        }
    }
}
