.sidebar {
    height: 100%;
    background: #2c3031;
    width: $sidebar-width;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .heading {
        background: #ff5e3a;

        h1 {
            display: block;
            margin: 0;
            padding: 0;
            color: #fff;
            // text-align: center;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 1.2em;
            height: 75px;
            line-height: 75px;
            padding: 0 25px;
        }
    }

    .navigation {
        display: block;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;

                a {
                    display: block;
                    padding: 10px 25px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                    text-decoration: none;
                    color: #636b6f;

                    span {
                        margin-right: 10px;
                    }

                    &:hover {
                        background: lighten(#2c3031, 5%);
                    }
                }

                &.title {
                    padding: 15px 25px;
                    text-transform: uppercase;
                    border-bottom: 1px solid #444;
                    color: #636b6f;
                    font-size: 0.9em;
                }

                &.active {
                    a {
                        background: #fff;
                        color: #ff5e3a;
                    }
                }
            }
        }
    }
}
