.feed {
    display: block;

    .heading-wrapper {
        border-bottom: 1px solid #ececec;

        .row {
            > div {
                background: #fff;

                &.border-left {
                    border-left: 1px solid #ececec;
                }

                &.border-right {
                    border-right: 1px solid #ececec;
                }
            }
        }
    }

    .heading {
        display: block;
        padding: 20px;

        h2 {
            display: block;
            margin: 0;
            padding: 0;
            font-size: 1.5em;
            font-weight: 600;
            color: #4e5d64;

            span {
                color: #ccc;
            }
        }
    }

    .content {
        border-right: 1px solid #ececec;
        border-left: 1px solid #ececec;

        &.borderless {
            border-left: none;
        }

        .feed-item {
            padding: 20px;
            border-bottom: 1px solid #ececec;

            &:last-of-type {
                border-bottom: none;
            }

            .image {
                img {
                    border-radius: 100%;
                }
            }

            .post {
                h3, p {
                    display: block;
                    margin: 0;
                    padding: 0;
                    font-size: 1.2em;
                    font-weight: 600;

                    small {
                        font-size: 0.8em;
                        color: #bbb;
                    }
                }

                h3 {
                    a {
                        color: #636b6f;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                p {
                    margin: 5px 0 0 0;
                    font-size: 1em;
                    color: #888;
                    font-weight: 400;
                }


                .media {
                    display: block;

                    &.media-single {
                        img {
                            max-width: 100%;
                        }

                        padding-bottom: 15px;
                    }

                    &.media-multiple {
                        .media-content {
                            display: inline-block;
                            float: left;
                            width: 50%;
                            padding-right: 15px;
                            padding-bottom: 15px;

                            img {
                                max-width: 100%;
                            }
                        }
                    }
                }

                ul.meta {
                    display: block;
                    margin: 5px 0 0 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        float: left;
                        color: #ccc;
                        font-size: 0.8em;
                        margin-right: 15px;

                        a {
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }

    .panel {
        .panel-heading {
            background: #f9f9f9;
            color: #444;
        }

        .panel-body {
            p {
                display: block;
                color: #aaa;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .images {
        display: block;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            float: left;
            width: 25%;
            width: 47.5%;
            margin-left: 5%;
            margin-bottom: 5%;
        }
    }

    .user-links {
        a {
            text-transform: capitalize;
        }
    }
}
