.new-post {
    padding: 20px;

    .post {
        display: block;
        background: #fff;
        border: 1px solid #ddd;

        .user {
            padding: 15px;

            img {
                border-radius: 7px;
            }

            h4, p {
                display: block;
                margin: 3px 0 0 0;
                padding: 0;
                font-size: 1em;
                font-weight: bold;
            }

            p {
                font-weight: 400;
                margin: 0;
                font-size: 0.8em;
                color: #aaa;
            }
        }

        textarea {
            // margin: 10px 0 0 0;
            padding: 0 15px;
            resize: none;
            border: none;
            box-shadow: none;
        }

        .footer {
            padding: 10px 15px;
            background: #f4f5f5;
            border-top: 1px solid #ddd;


            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    float: left;
                    margin-right: 20px;

                    a {
                        font-size: 1.2em;
                        color: #b6bbc4;
                        height: 34px;
                        line-height: 34px;

                        &:hover {
                            color: $brand-primary;
                        }
                    }
                }
            }

            .btn {
                padding: 5px;
                display: block;
                width: 100%;
            }
        }
    }

    .go-live {
        a {
            padding: 10px 15px;
            display: block;
            background: #93c741;
            border-color: darken(#93c741, 5%);
            font-size: 1.2em;
            font-weight: 600;

            span {
                margin-right: 10px;
            }
        }

        p {
            margin: 15px 0 0 0;
        }
    }
}
