.stream-list {

    .stream-item {
        img {
            border-radius: 5px;
        }

        h3 {
            display: block;
            margin: 15px 0 0 0;
            padding: 0;
            font-size: 1.2em;
            color: $brand-primary;
        }

        p {
            display: block;
            margin: 5px 0 0 0;
            padding: 0;
            color: #aaa;
            font-style: italic;
        }
    }

}
